<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
    xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context = "http://www.springframework.org/schema/context"
    xsi:schemaLocation = "http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd"
    >
    <!-- define bean with id tag and class scope -->
    <!-- <bean id="vehicle" class="com.gregory.springapp.Bike"></bean> -->

    <!-- MUST let spring know that you're using a annotation configuartion or it will fail to run .jar  -->
    <context:component-scan base-package="com.gregory.springapp"></context:component-scan> 

    <bean id="tire" class="com.gregory.springapp.Tire">
           <!-- allows for properties inside of the tire injected object-->
        <property name="brand" value="MRF"></property>
    </bean>
</beans>